<html>
<head>
<title>Character profile: Blanka</title>
<%- include('header.ejs') %>
</head>
<body>

  <div id="mainpanel">
    <h1>Blanka's special attacks:</h1>
    <ol>
      <li>Electric Thunder: crouch down an electrify yourself for a nice counter-attack against physical moves. Rapidly punch to perform.</li>
      <li>Rolling attack: Charge by stepping back, then lunge at your opponent by rolling at them a la Sonic. Make sure to punch as you go foreward</li>
    </ol>

</div>
  <%- include('navbar.ejs') %>
</body>
</html>
