<html>
<head>
    <title>Baby's first fansite</title>
    <%- include('header.ejs') %>
</head>

<body>
  <h1>Here we shall discuss street fighter 2</h1>

  <a href="/writing">Write a post</a>

<%- include('navbar.ejs') %>

</body>

</html>
