<html>
<head>
<title>Character profile: Chun-Li</title>
<%- include('header.ejs') %>
</head>
<body>

  <div id="mainpanel">
    <h1>Here are Chun-Li's special attacks</h1>
    <ol>
      <li>Lightning Kick: Simply press any kick button rapidly to strike with multiple kicks.</li>
      <li>Spinning bird kick: You rotate feet first in the direction you're facing. Hold down, then hit kick and up at the same time</li>
    </ol>

</div>
  <%- include('navbar.ejs') %>
</body>
</html>
