<html>
<head>
<title>Character profile: Dhalsim</title>
<%- include('header.ejs') %>
</head>
<body>

  <div id="mainpanel">
    <h1>Dhalsim's special attacks:</h1>
    <ol>
      <li>Yoga fire: breathe a small flame projectile. Inputs are down-foreward-punch.</li>
      <li>Yoga Flame: A much better fire-breath attack but you sacrifice range. Inputs are left, half circle to foreward, and punch</li>
    </ol>

</div>
  <%- include('navbar.ejs') %>
</body>
</html>
