<<html>
<head>
<title>Character profile: E Honda</title>
<%- include('header.ejs') %>
</head>
<body>

  <div id="mainpanel">
    <h1>E Honda's special attacks:</h1>
    <ol>
      <li> Hundred slap: rapidly punch to, you guessed it, unleash a barrage of palm strikes.</li>
      <li>Sumo headbutt: back charge punch to drop kick people....with your head!</li>
    </ol>

</div>
  <%- include('navbar.ejs') %>
</body>
</html>
