<html>
<head>
<title>Character profile: Guile</title>
<%- include('header.ejs') %>
</head>
<body>

  <div id="mainpanel">
    <h1>Guile's special attacks:</h1>
    <ol>
      <li> Sonic Boom: Guile's projectile. it's a side-charge attack with a punch.</li>
      <li>Somersault kick: Good defensive move where you surge into the air kicking. Inputs are down-charge-kick</li>
    </ol>

</div>
  <%- include('navbar.ejs') %>
</body>
</html>
