 <!DOCTYPE html>
<html>
<head>
<title>Baby's first fansite</title>
<link rel="stylesheet" type="text/css" href="stylesheet.css"/>
</head>
<body>
  <div id="mainpanel">
  Hello, and welcome to my first website, <%=nomen%>! I will be going over the special attacks of Street Fighter 2!
</div>
  <%- include('navbar.ejs') %>
</body>
</html>
