 <!DOCTYPE html>
<html>
<head>
<title>Spongebob: The Anime</title>
</head>
<body>

<h1>Guys, what if spongebob was an anime?</h1>
<p>That would be funny, I think. Here are <a href ='/Reasoning'>my reasons why</a></p>
<p1>Here are

</body>
</html>
