<html>
<head>
<title>Character profile: Ken</title>
<%- include('header.ejs') %>
</head>
<body>

  <div id="mainpanel">
    <h1>Ken's special attacks:</h1>
    <ol>
      <li> The iconic hadouken: a ball of ki. Inputs are down-foreward-punch.</li>
      <li>Hurricane kick: allows you to propel self with a spinning kick. Inputs are down-back-kick</li>
      <li>Shoryuken: An uppercut with the inputs right-down-right-down-punch</li>
    </ol>

</div>
  <%- include('navbar.ejs') %>
</body>
</html>
