<html>
<head>
<title>Character profile: Ryu</title>
<link rel="stylesheet" type="text/css" href="stylesheet.css"/>
</head>
<body>
<div id="mainpanel">
  <h1>Ryu's special attacks</h1>
  <p1>1. The iconic hadouken: a ball of ki. Inputs are down-foreward-punch.</p1>
  <p2>2. The hurricane kick: allows you to propel self with a spinning kick. Inputs are down-back-kick</p2>
  <p3>3. Shoryuken: An uppercut with the inputs right-down-right-down-punch</p3>

<a href="https://www.youtube.com/watch?v=MPSl9zv4uUA">4. Click here to see them all in action, alongside his normal attacks</a>
</div>

<%- include('navbar.ejs') %>


</body>
</html>
