<html>
<head>
    <title>Record your knowledge</title>
    <%- include('header.ejs') %>
</head>

<body>
  <div id="mainpanel">
<h1>Drop knowledge:</h1>

<% if(draft._id) { %>
<form action="/blog/<%=draft._id%>/edit" method="POST">
<% } else { %>
<form action="/blog/writepost" method="POST">
<% } %>

  <input name="title" type="text" value="TITLE">title</input><br>
  <textarea name="entrytext" style="width: 100%; height:500px"></textarea></br>
  <button type="submit">Post</button>
</form>
</div>

<%- include('navbar.ejs') %>

<script>
var title= "<%=draft.title%>";
$(()=>{
    if(title!="") $('#title').val(title);
})
</script>

</body>

</html>
