<html>
<head>
<title>Character profile: Zangief</title>
<%- include('header.ejs') %>
</head>
<body>

  <div id="mainpanel">
    <h1>Zangief's special attacks:</h1>
    <ol>
      <li> Spinning lariat: rapidly punch to spin around in circles and hit anyone in your path.</li>
      <li>Spinning pile drive: Grab your opponent and slam them into the ground with flourish. back-circle-punch</li>
    </ol>

</div>
  <%- include('navbar.ejs') %>
</body>
</html>
